:root{
  --bg-color:#fff;
  --second-bg-color: #341061;
  --text-color: black;
  --main-color:#531d94;
}
html{
  font-size: 62.5%;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.contenedor-formulario {
  width: 600px; 
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgb(26, 23, 23);
}

.titulo-formulario {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
  color: var(--text-color); 
}

.generar-contrasena-boton {
  width: 100%;
  background-color: var(--main-color);
  color: white;
  padding: 8px; 
  border-radius: 4px;
  margin-bottom: 12px;
  font-size: 20px;
  border: none; 
  cursor: pointer; 
}

.generar-contrasena-boton:hover {
  background-color: var(--second-bg-color); 
}

.contrasena-generada-div {
  padding: 8px;
  background-color: lightgray;
  border-radius: 4px;
  text-align: center;
  font-size: 20px;
}

.input-contrasena-container {
  position: relative;  
  margin-bottom: 12px;
}

.input-contrasena-container ::placeholder{
  font-size: 15px;
}

.input-contrasena-input {
  width: 97%;
  padding: 8px;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

.input-contrasena-toggle-button {
  position: absolute;
  right: 20px;
  top: 6px;
  padding: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.barra-fortaleza-contenedor {
  width: 100%;
  background-color: #ddd; /* Gris claro */
  height: 8px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.barra-fortaleza-progreso {
  height: 8px;
  border-radius: 4px;
  transition: width 0.3s ease; /* Animación suave al cambiar el ancho */
}

.barra-fortaleza-rojo {
  background-color: red;
}

.barra-fortaleza-naranja {
  background-color: orange;
}

.barra-fortaleza-amarillo {
  background-color: yellow;
  color: black; /* Asegurar que el texto sea legible */
}

.barra-fortaleza-verde-claro {
  background-color: lightgreen;
}

.barra-fortaleza-verde {
  background-color: green;
}

.barra-fortaleza-texto {
  font-size: 15px;
  margin-bottom: 0;
}
.requisitos-lista {
  list-style: none;
  padding: 0;
  margin: 12px 0;
}

.requisito-item {
  font-size: 14px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.requisito-cumplido {
  color: green;
  font-weight: bold;
}

.requisito-pendiente {
  color: gray;
}
.boton-copiar {
  background-color: var(--main-color);
  color: white;
  padding: 8px;
  width: 50%;
  text-align: center; 
  border-radius: 4px;
  margin-top: 12px ;
  font-size: 15px;
  border: none; 
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-copiar:hover {
  background-color: var(--second-bg-color); 
}